body{
    background-image: url("../img/achter.PNG");
}

.container{
    height: auto;
    width: 50%;
    padding: 40px;
    margin-top: 0px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.596);
    font-family: 'Roboto', sans-serif;
}


h1{
    font-size: 36px;
    line-height: 36px;
}

h2{
    font-size: 32px;
    line-height: 32px;
}

h3{
    font-size: 14px;
    line-height: 22px;
}

#dot li{
    margin-top: 20px;
    line-height: 10px;
}

#dot2 li{
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
}

.klein{
    font-size: 24px;
    line-height: 32px;
}

.img{
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img06{
    width:  35%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.img10{
    width:  70%;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    padding: 25px;
    font-size: 20px;
    line-height: 26px;
    border: 4px;
    background-color: #def6ed
}

.navbar{
    opacity: 0.75;
}